/* Default Styles */
* {
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(images/trivaBackground.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.75rem;
}

div {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

header {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    height: 15vh;
    /* background-color: gray; */
}

.brand h1 {
    color: white;
}

.appBG {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: -1;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1080px;
    height: 80vh;
    margin: 0 auto;
    padding: 0 20px;
}

.questionTracker {
    flex: 1;
    /* background-color: darkgray; */
    padding: 40px 0;
    display: none;
    color: white;
}

.questionList {
    padding: 20px 0;
}

.questionListItem {
    padding: 10px 0;
}

.questionContainer {
    flex: 3;
    /* background-color: lightgray; */
    text-align: center;
    padding: 40px;
}

.questionContainer p {
    display: inline-block;
    text-align: center;
    width: 60%;
    margin-top: 40px ;
}

.start, .restart {
    /* background-color: gray; */
    padding: 10px 30px;
    margin: 60px auto;
    font-size: 2rem;
    display: block;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid #8B1600;
    background-color: black;
    color: white;
    cursor: pointer;
}

.nextQuestion {
    width: 150px;
    padding: 10px 30px;
    margin: 30px auto;
    font-size: 1.5rem;
    display: block;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid white;
    background-color: #0B9900;
    color: white;
    cursor: pointer;
}

.nextQuestionIncorrect {
    background-color: #8B1600;
}

.questionListItem {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 25px;
}

.questionScore {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 0;
}

.questionScore:first-of-type {
    margin-top: 10px;
}

.answers {
    margin: 20px auto;
    padding: 0 75px;
    text-align: center;
}

.answerBlock {
    display: block;
    color: black;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin: 15px auto;
    width: 100%;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.answerBlock:hover {
    background-color: rgb(93, 255, 93);
}

.answerBlock input[type="radio"]{
    /* display: none; */
    opacity: 0;
    filter:alpha(opacity=0);
}

.answerBlock input:focus-visible {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.answerBlockSelected {
    background-color: rgb(255, 153, 0);
    color: white;
}

.answerOption {
    width: 60%;
    font-size: 1.2rem;
    margin: 15px auto;
    padding: 15px 0;
}

.answerOption:first-of-type {
    margin-top: 20px;
}

#answerSubmit {
    width: 250px;
    padding: 10px 30px;
    margin: 30px auto;
    font-size: 1.5rem;
    display: block;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid white;
    background-color: #0B9900;
    color: white;
    cursor: pointer;
}

footer {
    height: 5vh;
    padding-top: 10px;
    color: white;
}

/* answer feedback */
.correct {
    color: #0B9900;
}

.incorrect {
    color: #8B1600;
}

.correctIcon {
    position: relative;
    background-image: url('images/correctIcon.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 30px;
    right: 0px;
    z-index: 999;
    display: inline-block;
}

.incorrectIcon {
    position: relative;
    background-image: url('images/incorrectIcon.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 30px;
    right: 0px;
    z-index: 999;
    display: inline-block;
}

.answerFeedback {
    color: white;
    width: 100%;
    margin: 0 auto;
}

.answerFeedbackCorrect {
    color: rgb(0, 141, 19);
}

.answerFeedbackIncorrect {
    color: #8B1600;
}

.answerFeedback .correctAnswer {
    margin: 20px 30px;
}

.finalMessage {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.mobile {
    display: none;
}

.correctMobile {
    background-color: #0B9900;
    font-weight: bold;
}

.incorrectMobile {
    background-color: #8B1600;
    font-weight: bold;
}

/* Responsive Mobile Styles  */

@media screen and (max-width: 480px) {
    .brand {
        margin: 0 20px;
    }

    .brand h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    .questionListItem.mobile {
        padding: 5px 8px;
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .brand {
        margin: 0 20px;
    }

    .answerBlock {
        font-size: 1.5rem;
    }

    .answers {
        padding: 0 40px;
    }
}

@media screen and (max-width: 680px) {

    h3 {
        font-size: 2.5rem;
        margin: 15px 0;
    }

    .container {
      flex-direction: column;
      justify-content: flex-start;
      margin: 40px auto 10px;
    }

    .questionList {
        display: none;
        padding: 2px;
    }

    .questionTracker {
        padding: 10px 0;
    }

    .questionContainer {
        padding: 10px 40px;
    }

    .questionListItem {
        padding: 10px 8px;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 2rem;
    }

    .mobile {
        display: block;
    }

    ul.mobile {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 760px) {
    body {
        background-image: url(images/trivaBackgroundMobile.png);
    }

    .brand h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}