* {
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(images/trivaBackground.jpg);
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.75rem;
}

div {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

header {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    height: 15vh;
    /* background-color: gray; */
}

header, .container, footer {
    background-color: rgba(0, 0, 0, 0.4);
}

.brand h1 {
    color: white;
}

.container {
    display: flex;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    padding: 0 20px;
}

.widthContainer {
    height: auto;
    width: 100%;
    max-width: 1200px;
}

.questionTracker {
    flex: 1;
    /* background-color: darkgray; */
    padding: 40px 0;
    display: none;
    color: white;
}

.questionList {
    padding: 20px 0;
}

.questionListItem {
    padding: 10px 0;
}

.questionContainer {
    flex: 3;
    /* background-color: lightgray; */
    text-align: center;
    padding: 40px;
}

.questionContainer p {
    display: inline-block;
    text-align: center;
    width: 40%;
    margin-top: 40px ;
}

.start, .restart, .nextQuestion, .nextQuestionCorrect {
    /* background-color: gray; */
    padding: 10px 30px;
    margin: 75px auto;
    font-size: 2.5rem;
    display: block;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid rgb(155, 0, 0);
    background-color: white;
    color: rgb(155, 0, 0);
    cursor: pointer;
}

.nextQuestion {
    margin: 20px auto;
}

.nextQuestionCorrect {
    border: 2px solid rgb(0, 141, 19);
    color: rgb(0, 141, 19);
}

.questionListItem {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 25px;
}

.questionScore {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 0;
}

.questionScore:first-of-type {
    margin-top: 10px;
}

.answers {
    margin: 20px auto;
    padding: 0 60px;
    text-align: center;
}

.answerBlock {
    display: block;
    color: black;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin: 15px auto;
    width: 100%;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.answerBlock:hover {
    background-color: rgb(93, 255, 93);
}

.answerBlock input[type="radio"]{
    display: none;
}

.answerBlockSelected {
    background-color: rgb(255, 153, 0);
    color: white;
}

.answerOption {
    width: 60%;
    font-size: 1.2rem;
    margin: 15px auto;
    padding: 15px 0;
}

.answerOption:first-of-type {
    margin-top: 20px;
}

.answerOption:nth-child(odd) {
    /* background-color: darkgray; */
}

.answerOption:nth-child(even) {
    /* background-color: gray; */
}

#answerSubmit {
    width: 60%;
    padding: 10px 30px;
    margin: 30px auto;
    font-size: 1.5rem;
    display: block;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid white;
    background-color: rgb(0, 141, 19);
    color: white;
    cursor: pointer;
}

footer {
    height: 5vh;
    padding-top: 10px;
    color: white;
}

/* answer feedback */
.correct {
    color: #0B9900;
}

.incorrect {
    color: #8B1600;
}

.correctIcon {
    position: relative;
    background-image: url('images/correctIcon.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 30px;
    right: 0px;
    z-index: 999;
    display: inline-block;
}

.incorrectIcon {
    position: relative;
    background-image: url('images/incorrectIcon.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 30px;
    right: 0px;
    z-index: 999;
    display: inline-block;
}

.answerPopup {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color: rgba(0, 0, 0, 0.8);
    display:none;
}
.answerFeedback {
    position:absolute;
    top:30%;
    left:50%;
    margin-left:-200px;
    width: 400px;
    height: 250px;
    background-color:#111;
    padding:30px;
    border-radius:4px;
    color:#FFF;
}

.answerFeedbackCorrect {
    color: rgb(0, 141, 19);
}

.answerFeedbackIncorrect {
    color: rgb(199, 0, 0);
}

.answerFeedback .correctAnswer {
    margin: 20px 30px;
}
